/* Calendar widget */

#calendar .yearpicker {
    text-align: center;
}

#calendar .year {
    display: inline-block;
    width: 10em;
}

.event .header {
    cursor: pointer;
}

.event-auftritt {
    text-shadow: #CA3C25 1px 1px 0;
}
.event-probe {
    text-shadow: #7FB069 1px 1px 0;
}
.event-staendchen {
    text-shadow: #E6AA68 1px 1px 0;
}
.event-arbeitseinsatz {
    text-shadow: #FFFBBD 1px 1px 0;
}
