<p class="yearpicker">
	<button class="pure-button" on-click="setYear(year - 1)">←</button>
	<strong class="year">{{year}}</strong>
	<button class="pure-button" on-click="setYear(year + 1)">→</button>
</p>

<ul>
{{#canEdit}}
	{{#newEvent}}
		{{>event}}
	{{else}}
		<li><button class="pure-button" on-click="add-event">Neu‥</button></li>
	{{/newEvent}}
{{/canEdit}}
{{#eventsLoading}}
	<li class="no-events">Lädt‥</li>
{{else}}
	{{#events}}
		{{>event}}
	{{else}}
		<li class="no-events">Keine Termine!</li>
	{{/events}}
{{/eventsLoading}}
</ul>

<p>
	<em>Legende: </em>
	{{#types:name}}
	<span class="{{eventClass(name)}}">{{name}}&nbsp;</span>
	{{/types}}
</p>

{{#partial event}}
<li class="event">
	<span on-click="toggle-event" class="header {{eventClass(type)}}">
		{{ formatDateTime(start) }}: <strong>{{title}}</strong>
	</span>
	{{#if active}}
		<div intro="slide" outro="slide">
		{{#if editing}}
			{{#if id}}
				{{>editEvent}}
			{{else}}
				{{>newEvent}}
			{{/if}}
		{{else}}
			<h2>{{title}}</h2>
			<p>{{ formatDateTime(start) }} bis {{ formatTime(eventEnd(this)) }}</p>
			<p>{{desc}}</p>
			{{#canEdit}}
				<p><button class="pure-button" on-click="edit-event">Bearbeiten</button></p>
			{{/canEdit}}
		{{/if}}
		</div>
	{{/if}}
</li>
{{/partial}}

{{#partial newEvent}}
<h3>Neuer Termin</h3>
{{>eventForm}}
{{/partial}}

{{#partial editEvent}}
<h3>Termin bearbeiten</h3>
{{>eventForm}}
{{/partial}}

{{#partial eventForm}}
<form class="pure-form pure-form-aligned" on-submit="submit-event">
	<fieldset>
		<div class="pure-control-group">
			<label>Typ</label>
			<select value="{{type}}">
				{{#types:name}}
				<option value="{{name}}">{{name}}</option>
				{{/types}}
			</select>
		</div>
		<div class="pure-control-group">
			<label>Titel</label>
			<input type="text" value="{{title}}" required>
		</div>
		<datepicker moment="{{start}}">
			<div class="pure-control-group">
				<label>Datum</label>
				<input type="text" value="{{date}}" required>
			</div>
			<div class="pure-control-group">
				<label>Beginn</label>
				<input type="text" value="{{time}}" required>
			</div>
		</datepicker>
		<div class="pure-control-group">
			<label>Dauer (h)</label>
			<input type="number" value="{{inputDuration}}" min="0" required>
		</div>
		<div class="pure-control-group">
			<label>Beschreibung</label>
			<textarea value="{{desc}}"></textarea>
		</div>
		<div class="pure-controls">
			<button class="pure-button pure-button-primary" type="submit">Speichern</button>
			<strong>{{error}}</strong>
		</div>
	</fieldset>
</form>
{{/partial}}
<!-- vim: set ft=mustache: -->
